helikonproject.com, www.helikonproject.com {
    header -X-Frame-Options
    reverse_proxy clil-frontend:80
}

db.helikonproject.com {
    reverse_proxy clil-pgadmin:80 {
        header_up X-Forwarded-Proto https
        header_up X-Script-Name ""
    }
}

list-me.net {
    reverse_proxy listme-frontend:80
}
